#{{JUJU_HEADER}}
Socket {{socket}}

UserID opendkim
PidFile /run/opendkim/opendkim.pid
UMask 007

Syslog yes
SyslogSuccess yes
LogResults yes
LogWhy yes

{%- if signing_enabled %}

Domain {{domains}}
KeyFile {{keyfile}}
Selector {{selector}}
{%- if keytable != ''%}
KeyTable file:{{keytable}}
{%- endif %}
{%- if signingtable != ''%}
SigningTable refile:{{signingtable}}
{%- endif %}
Canonicalization {{canonicalization}}
SignHeaders {{signheaders}}
{%- endif %}

{%- if mode != 'sv' %}

Mode {{mode}}
{%- endif %}

TrustAnchorFile /usr/share/dns/root.key

InternalHosts {{internalhosts}}

